.draw-area {
  background-color: #000000;
  float: left;
  cursor: crosshair;
}

.draw-path {
  fill: none;
  stroke-width: 2px;
  stroke: white;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.draw-area-svg {
  width: 100%;
  height: 100%;
}
